---
import { getCollection } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import FormattedDate from "@/components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout>
  <BaseHead title={"Blog Posts | Oskar Dudziński"} slot="head" />

  <main
    class="space-y-4 lowercase text-nowrap select-none font-mono max-sm:text-sm text-slate-400"
  >
    <nav>
      <a class="link" href="/oskvr37/">home</a>
      <span>&gt; blog</span>
    </nav>
    <section>
      <ul class="space-y-2">
        {
          posts.map((post) => (
            <li class="text-slate-300 hover:text-slate-50 active:text-slate-400 transition-colors">
              <a
                href={`/oskvr37/blog/${post.id}/`}
                class="flex justify-between items-center gap-2"
              >
                <h2 class="font-light">
                  *{" "}
                  <span transition:name={`blog_title-${post.id}`}>
                    {post.data.title}.md
                  </span>
                </h2>
                <div class="max-sm:hidden">
                  {post.body && (
                    <span>{(post.body.length / 256).toFixed(2)} kb</span>
                  )}
                  //
                  <span transition:name={`blog_date-${post.id}`}>
                    <FormattedDate
                      transition:name={`blog_date-${post.id}`}
                      date={post.data.pubDate}
                    />
                  </span>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
